body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
    background-color: #f2ecd5;
}

img {
    max-height: 270px;
}

table {
    padding-left: 8Opx;
    padding-right: 200px;
}

h2 {
    font-family:'Roboto', sans-serif;
    color: #000000; 
    padding-right: 20px;
    font-size: 20px;
    padding-left: 20px;
    line-height: 40px;
}

td {
    width: 2000px;
    padding-right: 60px;
    height: 20px;
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: #4c6ecd21;
}

.scenario  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.naam {
    background-color: #4c6ecd21;
    padding: 5px;
    width: 790px;
    padding-left: 100px;
    padding-right: 10px;
}

.artiesten img{ 

    margin-left: 20px;
}

a {
    text-decoration: none;
}

a:link {
    color: #181b38;
}

a:visited {
    color: #181b38;
}

a:hover {
    color: #4c6ecd;
}

p {
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #227705;
}

.none {
    margin-right: 0px;
}

.navigatiebalk {
    display: flex;
    flex-direction: row;
    margin-top:20px; 
    margin-bottom: 20px;
    padding: 3px;
    margin-right: 330px;
    background-color: #f9f2db;
}

.elementz {
    width: 35px;
    margin:2px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 32px;
    background-color: #247710;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.elementz:before {
  content: '';
  position: absolute;
  border: #247710 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.elementz:hover:before, .elementz:focus:before, .elementz:active:before  {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}

.element {
    margin: 2px;
    padding-left: 20px;
    padding-right: 20px;
    color: #e1b33a;
    background-color: #227705;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.element:before {
  content: '';
  position: absolute;
  border: #227705 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.element:hover:before, .element:focus:before, .element:active:before  {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}

img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow:visible;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color; 
    transition-property: color;
    transition: all 0.3s ease;
}

.fotobox img:hover {
    background-color: rgba(209, 118, 32, 0.582);
    border-radius: 135px;
}
img.foto:hover{
    opacity:0.7;
    background-color: rgba(209, 118, 32, 0.582);
}
.fotobox:hover:before{
    border-radius: 135px;
}
img.foto:before{
    content:"";
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-color: rgba(209, 118, 32, 0.582);
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 35px;
    color: black;
}

.Oswald {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 35px;
}

.roboto {
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    line-height: 40px;
}

.helvetica {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 25px;
}

.shadows {
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    line-height: 28px;
}

.blauw {
    background-color: #4c6ecd;
    color: white;
}

.groen {
    background-color: #227705;
    color: white;
}

.wit {
    background-color: #f2ecd5;
}

.oker {
    background-color: #e1b305;
}

.oranje {
    background-color: #e38a5a;
}

th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navigatiebalk p {
    color: #e1b305;
}

table {
    color: black;
}
.fotobox{
    display: inline;
    position: relative;
}
.fotobox:before{
    content:"";
    width: 360px;
    height: 270px;
    background-color: #e38a5a;
    overflow: hidden;
    position: absolute;
    top: -124px;
    left: 20px;
}
.fotobox img{
    width: 360px;
    height: 270px;
    object-fit: cover;
}